<div class="container">
    <h1>Arreglo uno:</h1>
    <div *ngFor="let i of arr">
        <h2>{{i}}</h2>
    </div>
    <h1>Arreglo dos:</h1>
    <div *ngFor="let i of arr2">
        <h2>{{i}}</h2>
    </div>
    <h1>Arreglos tres:</h1>
    <div *ngFor="let i of arr3">
        <h2>{{i}}</h2>
    </div>
    <h1>Arreglo cuatro</h1>
    <div *ngFor="let i of arr4">
        <h2>{{i}}</h2>
    </div>
    <h1>Arreglo cinco</h1>
    <div *ngFor="let i of arr5">
        <h2>{{i}}</h2>
    </div>

    <h1>Ejemplo ngif:</h1>
    <h2 *ngIf="arr[0]==0">El valor es cero</h2>
    <h2 *ngIf="arr2[2]=='gato'">nel</h2>
    <h2 *ngIf="arr3[3]=='gato'">Si es gato</h2>
    <h2 *ngIf="arr4[0]=='ISC'">ISC</h2>
    <h2 *ngIf="arr5[0]==9">nUEVE</h2>
</div>