img{
    display: block;
    margin: auto;
}
.container{
    border-style: dotted;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
}
.personal{
    text-align: center;
    font-family: Arial;
    font-size: 10px;
}