<div class="container">
        <a href="https://www.facebook.com/Gonzlez.diego04/"><img src="../assets/facebook.png" width="50" height="50"></a>
        <a href="https://twitter.com/DiegoGonzaUuU?t=KLln7wG4wmf8T-pn2hwF-w&s=09"><img src="../assets/tw.png" width="50" height="50"></a>
        <a href="https://youtube.com/@diegonoelgonzaleztamariz2878"><img src="../assets/yt.png" width="50" height="50"></a>
        <a href="https://instagram.com/_diego_kun_7u7?igshid=ZDdkNTZiNTM="><img src="../assets/insta.png" width="50" height="50"></a>
</div>